/* REMOVER ESTILOS */
/* Elemento universal: saco los margin/padding default values */
*{
    padding: 0;
    margin: 0;
}

/* Scroll whole html */
html{
    scroll-behavior: smooth;
}

/* Remove links style */
a {
    color: currentColor; /* set current font color */
    text-decoration: none; /* no underline */
  }

  /* Remove links hover style form bootstap */
a:hover {
    color: currentColor;
    text-decoration: none;
  }

  button {
    color: whitesmoke;
  }

/* Remove default style de las listas */
ul {
    list-style-type: none;
  }


/* BODY/HEADER/FOOTER */
/* Body */
body {
    background-color: rgb(255, 252, 248);
    color: rgb(55, 63, 71);
}

/* Abro Header */
.salvaje-header{
    font-family: 'lato' ,  sans-serif;
    font-weight: 300;
    letter-spacing: 0.20em;
    /* background-color: rgba(111, 111, 113); */
    background-color: rgba(55, 63, 71);
    color: whitesmoke;
    /* height: 8em;
    padding-top: 1.25em;
    display: flex;
    justify-content: space-around; */
}

/* Logo + Marca */
.container-logo{
    display: flex;
    align-items: center;
}

h2, .salvaje-logo{
    font-family: 'lato' ,  sans-serif;
    font-style: italic;
    font-weight: 400;
    /* font-size: 3em; */
    color: whitesmoke;
    text-shadow: 0.25em 0.25em 0.25em rgba(55, 63, 71, 0.486);
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

/* Menu */

.salvaje-button-color{
    color: whitesmoke;  
}
.contenedor-menu{
     display: flex;
    align-items: center;
}

/* li{
    display: inline-block;
    margin: 0em 0.5em;
}

ul ul{
position: absolute;
display: none;
background-color: rgba(55, 63, 71);
border: solid rgba(55, 63, 71) 0.1em;
border-radius: 0.5em;
box-shadow: 0.1em 0.1em 0.1em whitesmoke;
}

ul ul li{
    display: block;
    }

ul li:hover ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: auto;
}

.titulo-menu{
    font-family: 'lato' , sans-serif;
    font-style: normal ;
    font-weight: 400 ;
    text-transform: uppercase;
    font-size: 1em;
}
*/
 .titulo-menu:hover{
    transform: scale(1.15) translateY(-0.1em);
    text-shadow: 0.1em 0em 0.1em whitesmoke;
    transition: all 0.3s;
} 

/*
.titulo-menu-coleccion{
    font-family: 'lato' , sans-serif;
    font-style: normal ;
    font-weight: 400 ;
    letter-spacing: 0.25em;
    text-decoration: underline;
    font-size: 1em;
}

 Favoritos/Carro/Cuenta */
 /*
.contenedor-favoritos-carrito-cuenta{
    display: flex;
    align-items: center;
}

.favoritos-carrito-cuenta{
    margin: 0.6em;
    font-family: 'lato' , sans-serif;
    font-style: normal ;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 1em;
}

.iconos-favoritos-carrito-cuenta{
    margin-right: 0.4em;
}

@media only screen and (min-width:577px) and (max-width:992px) {
    h2{
        font-size: 2em;
    }

    .contenedor-menu {
        font-size: 0.7em;        
    }
}

@media only screen and (max-width:576px) {
    h2{
        font-size: 1em;
    }

    .contenedor-menu {
        font-size: 0.5em;        
    }
} */

/* Cierro Header */


/* Abro Footer */
footer{
    font-family: 'lato' ,  sans-serif;
    font-weight: 300;
    letter-spacing: 0.25em;
    /* background-color: rgba(111, 111, 113); */
    background-color: rgba(55, 63, 71);
    color: whitesmoke;
}

footer .container-logo{
    width:25%;
} 

footer nav{
    font-family: 'lato' , sans-serif;
    font-style: normal ;
    font-weight: 400 ;
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .contenido-footer{
        font-size: 0.8em;
    }
}

@media only screen and (max-width:576px) {
    .contenido-footer{
        font-size: 0.5em;
    }
}
/* Cierro Footer */


/* HTML: INICIO */
/* Abro Seccion: Medios de Pago */
#medios-pagos{
    font-family: 'lato' ,  sans-serif;
    font-weight: 300;
    background-color: rgba(55, 63, 71);
    color: whitesmoke;
    /* height: 7em; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */
}

#medios-pagos h5{
    font-size: 1.3em;
}

@media only screen and (min-width:577px) and (max-width:992px) {
    #medios-pagos h5{
        font-size: 1em;
    }

    #medios-pagos p{
        font-size: 0.8em;
    }
}

@media only screen and (max-width:576px) {
    #medios-pagos h5{
        font-size: 0.6em;
    }

    #medios-pagos p{
        font-size: 0.5em;
    }
}
/* Cierro Seccion: Medios de Pago */

/* Abro Seccion: Productos */
/* .contenedor-productos-inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.nombre-productos{
    font-family: 'lato' ,  sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    border: solid 0.15em rgb(55, 63, 71);
    border-radius: 0.2em;
    /* padding: 0.2em;
    margin-top: 0.5em; */
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .nombre-productos{
    font-family: 'lato' ,  sans-serif;
    font-weight: 300;
    font-size: 1em;
    border: solid 0.15em rgb(55, 63, 71);
    border-radius: 0.2em;
    }
}

@media only screen and (max-width:576px) {
    .nombre-productos{
    font-family: 'lato' ,  sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    border: solid 0.15em rgb(55, 63, 71);
    border-radius: 0.2em;
    }
}

/* #productos nav div{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4em 0.5em;
} */
/* Cierro Seccion: Productos */

/* Abro Seccion: Nuestros locales */
.nuestros-locales{
    font-size: 2em;
    border: solid 0.15em rgb(55, 63, 71);
    border-radius: 0.3em;
}

.nuestros-locales:hover{
    transform: scale(1.10);
    transition: all 0.5s;
}

#nuestros-locales-contenedor{
    font-family: 'lato' ,  sans-serif;
    font-style: italic;
    font-weight: 400;
    background-color: rgba(55, 63, 71, 0.37);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .nuestros-locales{
        font-size: 1.5em;
    }
}

@media only screen and (max-width:576px) {
    .nuestros-locales{
        font-size: 1em;
    }
}
/* Cierro Seccion: Nuestros locales */

/* Abro Seccion: Contactanos */
#contactanos{
    font-family: 'lato' ,  sans-serif;
    font-weight: 300;
    letter-spacing: 0.25em;
    background-color: rgba(55, 63, 71);
    color: whitesmoke;
    height: 10.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactanos nav{
    font-size: 1.5em;
    border: solid 0.15em whitesmoke;
    border-radius: 0.3em;
}

#contactanos nav:hover{
    transform: scale(1.10);
    transition: all 0.5s;
}

#contactanos p{
    display: inline;
}

@media only screen and (min-width:577px) and (max-width:992px) {
    #contactano{
        height: 8.5em;
    }
}

@media only screen and (max-width:576px) {
    #contactano{
        height: 6.5em;
    }
}
/* Cierro Seccion: Contactanos */

/* HTML: COLECCION */

/* Abro seccion: imagen y titulo */
#coleccion-titulo{
    font-family: 'lato' ,  sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 4em;
    letter-spacing: 0.25em;
    height: 8.75em;
    background-image: url('../Multimedia/Imagenes/Remeras-coleccion.jpg');
    background-size: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#coleccion-titulo h3{
    text-transform: uppercase;
    padding-right: 2.5em;
}
/* Cierro seccion: imagen y titulo */

/* Abro seccion: coleccion */
.contenedor-coleccion-productos{
    margin-top: 3em;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3em;
}

.coleccion-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcion-productos{
    padding: 0.3em 1em;
    margin: 0.5em;
    font-family: 'lato' ,  sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.5em;
    border: solid rgb(55, 63, 71) 0.15em;
    border-radius: 0.3em;
    text-align: center;
}
/* Cierro seccion: coleccion */

/* HTML: MAPA */

/* Abro seccion: Mapa */
.titulo-local{
    font-family: 'lato' ,  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    display: inline;
}

.subtitulo-local{
    font-family: 'lato' ,  sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1em;
}

.contenedor-mapa-items{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.mapa-items:last-child{
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
}

.mapa-iframe{
    margin: 2em 0em;
    border: solid rgb(55, 63, 71) 0.15em;
    border-radius: 1em;
}

.mapa-items{
    display: flex;
    align-items: center;
}

.mapa-items div{
    padding: 0.5em 3em;
    border: solid rgb(55, 63, 71) 0.15em;
    border-radius: 1em;
}
/* Cierro seccion: Mapa */

