
/* Background Colors */
$bgc-body: rgb(255, 252, 248);
$bgc-primary: rgba(55, 63, 71);
$bgc-secondary:rgba(55, 63, 71, 0.37);

/* Fonts Colors */
$fc-primary: rgb(55, 63, 71);
$fc-secondary: whitesmoke;

/* Font Sizes */
$fs-general:
1em,
2em,
3em,
4em,
5em,
6em,
7em,
8em,
9em,
10em;
