@import "../Components/variables";

/* Abro seccion: imagen y titulo */
#coleccion-titulo{
    height: 50vh;
    width: auto;
    background-image: url('../Multimedia/Imagenes/Remeras-coleccion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 

        h3{
            font-family: 'lato' ,  sans-serif;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 0.2em;
            font-size: nth($list: $fs-general, $n:4 );
            text-transform: uppercase;

                @media screen and (min-width:993px) and (max-width:1200px) {
                    font-size: nth($list: $fs-general, $n:3 )*1.2;
                }
            
                @media screen and (min-width:769px) and (max-width:992px) {
                    font-size: nth($list: $fs-general, $n:3 );
                }
            
                @media screen and (min-width:577px) and (max-width:768px) {
                    font-size: nth($list: $fs-general, $n:2 )*1.25;
                }
            
                @media only screen and (max-width:576px) {
                    font-size: nth($list: $fs-general, $n:1 )*1.8;
                } 
        }
}
/* cierro seccion: imagen y titulo */

.descripcion-productos{
    font-family: 'lato' ,  sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: nth($list: $fs-general, $n:1 )*1.4;
    border: solid $fc-primary 0.15em;
    border-radius: 0.5em;
    text-align: center;

    @media screen and (min-width:993px) and (max-width:1200px) {
        font-size: nth($list: $fs-general, $n:1 )*1.2;
    }

    @media screen and (min-width:769px) and (max-width:992px) {
        font-size: nth($list: $fs-general, $n:1 );
    }

    @media screen and (min-width:577px) and (max-width:768px) {
        font-size: nth($list: $fs-general, $n:1 )*0.8;
    }

    @media only screen and (max-width:576px) {
        font-size: nth($list: $fs-general, $n:1 )*0.6;
    }  
}

.salvaje-img{
    width: 260px;

    @media screen and (min-width:993px) and (max-width:1200px) {
        width: 220px;
    }

    @media screen and (min-width:769px) and (max-width:992px) {
        width: 170px;
    }

    @media screen and (min-width:577px) and (max-width:768px) {
        width: 150px;
    }

    @media only screen and (max-width:576px) {
        width: 120px;
    }  
}